@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "HelveticaNeue", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local("HelveticaNeue"),
    url("/fonts/HelveticaNeueBold.otf") format("opentype");
}
@font-face {
  font-family: "HelveticaNeue", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("HelveticaNeue"),
    url("/fonts/HelveticaNeueLight.otf") format("opentype");
}
:root {
  background-color: black;
  color: white;
}
body {
  color: rgb(var(--foreground-rgb));
  font-family: "HelveticaNeue", sans-serif;
  font-weight: 700;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
main {
  padding: 0;
  margin: 0;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.mark::before {
  content: "";
  display: block;
  height: 10px;
  width: 100%;
  background-color: #ee372f;
}
.nick::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  height: 10px;
  width: 24px;
  background-color: #ee372f;
}
